@import "../global/variables";

.advantages__row {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &--city {
    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 2fr;
    }
  }

  &--bridge {
    @media (min-width: $tablet-width) {
      grid-template-columns: 2fr 1fr;
    }
  }

  &--theme_white {
    padding: 9px 0;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--theme_blue {
    background-color: $bg-blue;
    height: 190px;

    @media (min-width: $tablet-width) {
      height: 256px;
    }

    .title,
    .text {
      color: $fc-light;
    }
  }

  &--theme_white {
    margin-top: 26px;
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      height: 330px;
      margin: 0;
    }

    .advantages__wrapper {
      text-align: left;
      padding-left: 70px;

      @media (min-width: $tablet-width) {
        text-align: center;
        padding-left: $wrapper-side-padding;
      }
    }

    .advantages__wrapper::before {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      background-position: center top;
      background-repeat: no-repeat;
      margin-left: -50px;

      @media (min-width: $tablet-width) {
        position: relative;
        margin: 0 auto;
        width: auto;
        height: 75px;
        background-size: auto 75px;
      }
    }

    .advantages__title {
      margin-bottom: 15px;
    }
  }

  &--house {
    .advantages__wrapper::before {
      top: -10px;
      background-image: url("../img/advantages/icon-house.svg");
    }
  }

  &--gift .advantages__wrapper::before {
    top: -12px;
    background-image: url("../img/advantages/icon-gift.svg");
  }

  &--burger {
    .advantages__wrapper::before {
      top: -6px;
      background-image: url("../img/advantages/icon-burger.svg");
    }
  }

  &--bridge {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--theme_gray {
    background-color: $bg-gray;
    height: 167px;

    @media (min-width: $tablet-width) {
      height: 256px;
    }

    .advantages__wrapper::after {
      @media (max-width: $mobile-only-width) {
        content: "";
        position: absolute;
        left: 20px;
        bottom: -24px;
        width: calc(100% - 40px);
        height: 1px;
        background: #d6d6d6;
      }
    }
  }

  &--theme_gray:last-child .advantages__wrapper::after {
    display: none;
  }
}

.advantages__num {
  margin: 10px 0 15px;
}
