@import "../global/variables";

.form {
  @media (min-width: $tablet-width) {
    max-width: 960px;
    margin: 0 auto 60px;
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "row1-l row1-r"
      "row2 row2"
      "row3 row3"
      "row4 row4"
      "row5 row5";
  }
}

.form__fieldset {
  border: none;
  padding: 0;

  &--name {
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      grid-area: row1-r;
      padding: 0 0 0 58px;
      margin-bottom: 70px;
    }
  }

  &--contact {
    padding-bottom: 28px;

    @media (min-width: $tablet-width) {
      grid-area: row2;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .form__title {
        flex: 0 0 100%;
      }

      .form__row {
        flex: 0 0 50%;
      }

      .form__input {
        max-width: 257px;
      }
    }
  }

  &--rate {
    padding-bottom: 31px;

    @media (min-width: $tablet-width) {
      grid-area: row1-l;
      padding: 0;
      margin-bottom: 70px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1px;
        height: calc(100% + 45px);
        background-color: $input-darker;
      }
    }
  }

  &--checklist {
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
      grid-area: row3;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .form__title {
        flex: 0 0 100%;
      }

      .form__row {
        flex: 0 0 50%;
      }
    }

    @media (min-width: $desktop-width) {
      .form__row {
        flex: 0 0 25%;
      }
    }
  }

  &--comment {
    padding-bottom: 50px;

    @media (min-width: $tablet-width) {
      grid-area: row4;
    }
  }
}

.form__title {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: calc(50% - 200px);
      width: 400px;
      height: 100%;
      background-color: #ffffff;
      z-index: -1;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $input-darker;
    z-index: -2;

    @media (min-width: $tablet-width) {
      top: 50%;
    }
  }

  &--name,
  &--rate {
    @media (min-width: $tablet-width) {
      text-align: left;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  &--checklist br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  &--comment {
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }
}

.form__row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--column {
    flex-direction: column;
    align-items: normal;

    .form__label {
      margin: 0 0 14px 20px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: baseline;

      .form__label {
        margin: 0 16px 0 0;
      }
    }
  }
}

.form__label {
  margin-right: 13px;
  font-size: 14px;
  flex: 0 0 auto;

  &--bold {
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
  }
}

.form__input-wrapper {
  flex: 1 1 auto;

  &--phone,
  &--email {
    display: flex;
  }

  &--phone::after,
  &--email::after {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    flex: 0 0 58px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 58px 58px;
  }

  &--phone::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.form__input {
  width: 100%;
}

.form__radio-button {
  margin-right: 26px;
}

.form__checkbox {
  margin-right: 29px;
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: row5;
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    max-width: 50%;
  }
}

.form__note {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
