@import "../global/variables";

.gallery__item {
  position: relative;
  padding: 22px 0 17px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
    margin-right: -$wrapper-side-padding;
    margin-left: -$wrapper-side-padding;
    padding: 0 $wrapper-side-padding;
  }
}

.gallery__photo {
  display: block;
}

.gallery__info {
  text-align: left;

  .text {
    line-height: 24px;
  }
}

.gallery__title {
  margin: 6px 0 1px;
}

.gallery__author {
  text-transform: none;
  margin-bottom: 11px;
}

.gallery__likes {
  padding-left: 37px;
  background-image: url("../img/icon-like.svg");
  background-position: left top;
  background-repeat: no-repeat;
  font-weight: bold;
}
