@import "../global/variables";

.intro__wrapper {
  padding-top: 32px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 41px;
  }

  &--form-page {
    padding-top: 38px;
    padding-bottom: 16px;

    .intro__text {
      line-height: 24px;
    }
  }

  &--catalog-page {
    padding-top: 32px;
    padding-bottom: 31px;

    .intro__title {
      margin-bottom: 28px;
    }

    .intro__text {
      line-height: 24px;
    }
  }
}

.intro__title {
  margin-bottom: 26px;
}
