@import "../global/variables";

.footer__wrapper {
  height: 233px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.page-footer__hashtag {
  font-size: 21px;
}

.page-footer__social {
  margin: 34px 0 40px;
}

.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
}
