@import "../global/variables";

.social__list {
  padding: 0;
  margin: 0;
}

.social__list,
.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  margin: 0 3px;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $bg-blue;
  background-position: center;
  background-repeat: no-repeat;

  &--twitter {
    background-image: url("../../img/social/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../../img/social/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../../img/social/icon-youtube.svg");
  }
}
