.welcome {
  height: 389px;
  background-image: url("../../img/back-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 389px;
}

.welcome__image {
  margin-top: 90px;
}
