$fc-dark: #000000;
$fc-gray: #333333;
$fc-light: #ffffff;
$bg-blue: #81b3d2;
$bg-gray: #eeeeee;
$input-light: #f2f2f2;
$input-darker: #e5e5e5;
$input-darkest: #d5d5d5;
$wrapper-side-padding: 20px;
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
